.item-link {
    text-decoration: none;
    border: 1px solid #ffffff;
    background-color: #ffffff33;
    border-radius: 10px;
    margin: 8px;
    width: 46%;
    height: 110px;
    display: flex;
    align-items: center;
  }
  .team-card {
    display: flex;
    align-items: center;
    margin: 8px;
  }
  .team-img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
  }
  .team-name {
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Bree Serif';
    text-align: center;
  }
  